<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <nav>
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <a routerLink="/">Home</a>
        </div>
        <div class="col-sm">
          <a routerLink="/starships">Starships</a>
        </div>
      </div>
    </div>
  </nav>
  <h1>{{ title }}</h1>
  <h2>{{ description }}</h2>
  <img width="300" alt="falcon" src="../assets/images/falcon.png">
  <router-outlet></router-outlet>
</div>
